{% extends 'base.html' %}
{% block title %} TELEPLATA {% endblock %}
{% block home %}
    {% include 'header.html' %}
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                    <form>
                        <input type="search" name="search">
                        <input class="button" type="submit" value="Искать">
                    </form>
                </div>
            </div>
        </div>
        <div class="brands">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li><a href="{{ url_for('main.home',
                                brand='samsung') }}">Samsung</a></li>
                        <li><a href="{{ url_for('main.home',
                                brand='lg') }}">Lg</a></li>
                        <li><a href="{{ url_for('main.home',
                                brand='horizont') }}">Горизонт</a></li>
                        <li><a href="{{ url_for('main.home',
                                brand='vityaz') }}">Витязь</a></li>
                        <li><a href="{{ url_for('main.home',
                                brand='philips') }}">Philips</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li><a href="#">Toshiba</a></li>
                        <li><a href="#">Tomson</a></li>
                        <li><a href="#">Sharp</a></li>
                        <li><a href="#">Sony</a></li>
                        <li><a href="#">Panasonic</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li><a href="#">Bbk</a></li>
                        <li><a href="#">Shinco</a></li>
                        <li><a href="#">Dynex</a></li>
                        <li><a href="#">Manta</a></li>
                        <li><a href="#">Dell</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li><a href="#">Daevoo</a></li>
                        <li><a href="#">Shivaki</a></li>
                        <li><a href="#">Supra</a></li>
                        <li><a href="#">Grundic</a></li>
                        <li><a href="#">Telefunken</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="model-list">
            {% for model in models.items %}
                {% if models %}
                    <div class="model">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <ul data-id="{{ model.id }}"
                                    class="model-title model-title-{{ model.id }}">
                                    <li>
                                        <a href="#">{{ model.model }}</a>
                                    </li>
                                </ul>
                                <ul data-id="{{ model.id }}"
                                    class="model-detail model-detail-{{ model.id }}">
                                    <li>
                                        Inverter:<span>{{ model.invertor }}</span>
                                        <img
                                                src="#"
                                                alt=""></li>
                                    <li>
                                        X-main<span>{{ model.x_main }}</span>
                                        <img
                                                src="#"
                                                alt=""></li>
                                    <li>Y-main:
                                        <span>{{ model.y_main }}</span>
                                        <img
                                                src="#"
                                                alt=""></li>
                                    <li>X-main<span>HSDJW6323</span> <img
                                            src="#"
                                            alt=""></li>
                                    <li>Logic<span>JDWKC2343</span> <img
                                            src="#"
                                            alt=""></li>
                                    <li>X-scan<span>HDEWK2323</span> <img
                                            src="#"
                                            alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="pagination">
            <ul>
                {% if models.has_prev %}
                    <li><a href="?page={{ models.prev_num }}">Prev</a></li>
                {% else %}
                    <li><a href="#">Prev</a></li>
                {% endif %}
                {% for page in models.iter_pages() %}
                    {% if page != models.page %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li>
                            <a href="?page={{ page }}"
                               class="active">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if models.has_next %}
                    <li><a href="?page={{ models.next_num }}">Next</a></li>
                {% else %}
                    <li><a href="#">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}


