{% extends 'base.html' %}
{% block admin %}
    <header class="admin-header">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="{{ url_for('admin.admin') }}">admin</a></h1>
            </div>
        </div>
    </header>

    <div class="brands">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='samsung') }}">Samsung</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='lg') }}">Lg</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='horizont') }}">Горизонт</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='vityaz') }}">Витязь</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='philips') }}">Philips</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='toshiba') }}">Toshiba</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='tomson') }}">Tomson</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='sharp') }}">Sharp</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='sony') }}">Sony</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='panasonic') }}">Panasonic</a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='bbk') }}">Bbk</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='shinco') }}">Shinco</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='dynex') }}">Dynex</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='manta') }}">Manta</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='dell') }}">Dell</a></li>

                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='daevoo') }}">Daevoo</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='shivaki') }}">Shivaki</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='supra') }}">Supra</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='grundic') }}">Grundic</a></li>
                    <li><a href="{{ url_for('admin.add_new_model',
                            brand='telefunken') }}">Telefunken</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% block model_add %}

    {% endblock %}

    {% block model_edit %}

    {% endblock %}
{% endblock %}