body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    background: blue;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
    margin-top: 0;

}

.brand-list {
    text-align: center;
}

.brand-list ul li {
    display: inline-block;

}

.brand-list a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
}

.search {
    text-align: center;
}

.models li {
    display: inline-block;
}

.models {
    text-align: center;
}

.pagination {
    text-align: center;
    margin-top: 140px;
}

.pagination li {
    display: inline;

}

.pagination a {
    text-decoration: none;
    padding: 8px 11px;
    background: red;
    margin-left: -4px;
    color: #fff;

}

.pagination a.active {
    background-color: blue;
}