{% extends 'admin/admin.html' %}

{% block model_add %}
    <div class="row">
        <div class="col-md-12">
            <div class="model-title">
                <h2>{{ brand.__tablename__ }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div class="model-add">
                <form method="POST">
                    <label for="model">Модель:</label>
                    <input type="text" name="model" id="model" required>
                    {% if message %}
                        <p class="model-exist-error">{{ message }}</p>
                    {% endif %}
                    <label for="power">Power:</label>
                    <input type="text" name="power" id="power">

                    <label for="t_con">t-con:</label>
                    <input type="text" name="t_con" id="t_con">

                    <label for="x_main">x-main:</label>
                    <input type="text" name="x_main" id="x_main">

                    <label for="y_main">y-main:</label>
                    <input type="text" name="y_main" id="y_main">

                    <label for="logic">logic:</label>
                    <input type="text" name="logic" id="logic">

                    <label for="invertor">invertor:</label>
                    <input type="text" name="invertor" id="invertor">

                    <label for="y_scan">y_scan:</label>
                    <input type="text" name="y_scan" id="y_scan">


                    <input class="button" type="submit" value="Добавить">
                    {% if is_sent_ok %}
                        <span class="status_ok">Добавлено</span>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="last-added">
                {#                TODO Добавить вывод последних пяти добавленных записей #}
                {% for model in last_5_models %}
                    <ul>
                        <li>{{ model.model }}</li>
                        <li>{{ model.power }}</li>
                        <li>{{ model.t_con }}</li>
                        <li>{{ model.x_main }}</li>
                        <li>{{ model.y_main }}</li>
                        <li>{{ model.logic }}</li>
                        <li>{{ model.invertor }}</li>
                        <li>{{ model.y_scan }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}