{% extends 'admin/admin.html' %}
{% import 'admin/models/macro.html' as macro %}
{% block model_add %}
    <div class="row">
        <div class="col-md-12">
            <div class="model-title">
                <h2>{{ brand.__tablename__ }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div class="model-add">
                <form method="POST" enctype="multipart/form-data">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="model-exist-error">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% for field_name in MODEL_FIELDS %}
                        {{ macro.render_input_field(field_name) }}
                    {% endfor %}

                    <input class="button" type="submit" value="Добавить">
                    {% if is_sent_ok %}
                        <span class="status_ok">Добавлено</span>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="last-added">
                {% for model in last_five_models %}
                    <ul>
                        <li>{{ model.model }}</li>
                        <li>{{ model.power }}</li>
                        <li>{{ model.t_con }}</li>
                        <li>{{ model.x_main }}</li>
                        <li>{{ model.y_main }}</li>
                        <li>{{ model.logic }}</li>
                        <li>{{ model.invertor }}</li>
                        <li>{{ model.y_scan }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}