<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Продажа плат к LCD и плазменным телевизорам по России и странам СНГ">
    <meta name="keywords"
          content="Платы Беларусь, купить плату к LCD телевизору, купить плату к плазменному телевизору в Беларуси">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="
            {{ url_for('static', filename='img/favicon/favicon.ico')}}"
          type="image/x-icon">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='dist/main.bundle.css')}}">
    <script src="{{ url_for('static',
            filename='dist/main.bundle.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="warning">
        <div class="row">
            <div class="col-md-12">
                <h1>Сайт наполняется информацией!</h1>
                <h3>Для получения точной информации напишите нам на
                    email</h3>
            </div>
        </div>
    </div>
    {% block home %}

    {% endblock %}
    {% block page_not_found_error %}

    {% endblock %}

    {% block admin %}

    {% endblock %}
    {% block login %}
    {% endblock %}
</div>
</body>
</html>