{% block footer %}
    <footer>
        <h2>Нашли то что искали?</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="delivery">
                    <p>Платы сняты с <span class="marked">битых</span> LCD
                        и
                        плазменных
                        телевизоров.<br>
                        Каждая плата перед отправкой проверяется.</p>
                    <p>По России и странам СНГ доставка по предоплате.<br>
                        В среднем плата идет 5-10 дней.</p>
                    <p>По Белорусси возможна наложным платежом<br>
                        В среднем посылка идет 2-5 дней</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Звоните и пишите</h3>
                <p>+3752999999999</p>
                <p>+3752999999999</p>
                <p>teleplata@mail.ru</p>
            </div>
        </div>
        <div class="row">
            <div class="copyright text-center">
                <p>2018 | Created by <a href="#">FUNNYDMAN</a></p>
            </div>
        </div>
    </footer>
{% endblock %}